//////////////////////// CLASS NAMES

$class-not             : "not";
$class-selectable      : "selectable";
$class-not-selectable  : $class-not + "-" + $class-selectable;
$class-active          : "active";
$class-hover           : "hover";
$class-hoverable       : $class-hover + "able";
$class-hovered         : $class-hover + "ed";
$class-not-hovered     : $class-not + "-" + $class-hovered;
$class-gone            : "gone";
$class-invisible       : "invisible";
$class-inline          : "inline";
$class-inline          : "inline";
$class-inline-block    : "inline-block";
$class-block           : "block";
$class-clearfix        : "clearfix";
$class-no-overflow     : "no-overflow";
$class-show-overflow   : "show-overflow";
$class-overflow-scroll : "overflow-scroll";
$class-left            : "left";
$class-right           : "right";
$class-active          : "active";
$class-link            : "link";
$class-serif           : "serif";
$class-sans-serif      : "sans-serif";
$class-text-left      : "align-left";
$class-text-right     : "align-right";
$class-text-center    : "align-center";
$class-text-justify   : "align-justify";
$class-uppercase       : "uppercase";
$class-nowrap          : "nowrap";
$class-small           : "small";
$class-light           : "light";
$class-normal          : "normal";
$class-heavy           : "heavy";
$class-b               : "b";
$class-i               : "i";
$class-em              : "em";
$class-u               : "u";
$class-wide            : "wide";
$class-very-wide       : "very-wide";
$class-extra-wide      : "extra-wide";
$class-hanging-indent  : "hanging-indent";
$class-table           : "table";
$class-table-cell      : "table-cell";
$class-valign-center   : "valign-center";
$class-valign-bottom   : "valign-bottom";
$class-valign-top      : "valign-top";
$class-relative        : "relative";
$class-absolute        : "absolute";
$class-fixed           : "fixed";
$class-top             : "top";
$class-bottom          : "bottom";
$class-tl              : "tl";
$class-tr              : "tr";
$class-br              : "br";
$class-bl              : "bl";
$class-hardware-render : "hardware-render";
$class-rounded         : "rounded";
$class-whole           : "whole";
$class-width           : "width";
$class-height          : "height";
$class-max             : "max";
$class-min             : "min";
$class-whole-width     : $class-whole + "-" + $class-width;
$class-whole-height    : $class-whole + "-" + $class-height;
$class-whole-max-width : $class-whole + "-" + $class-max + "-" + $class-width;
$class-whole-max-height: $class-whole + "-" + $class-max + "-" + $class-height;
$class-whole-min-width : $class-whole + "-" + $class-min + "-" + $class-width;
$class-whole-min-height: $class-whole + "-" + $class-min + "-" + $class-height;
$class-ratio           : "ratio";
$class-border-box      : "border-box";
$class-no-border       : "no-border";
$class-bordered        : "bordered";
$class-t-bordered      : "t-bordered";
$class-r-bordered      : "r-bordered";
$class-b-bordered      : "b-bordered";
$class-l-bordered      : "l-bordered";
$class-t-padded        : "t-padded";
$class-r-padded        : "r-padded";
$class-b-padded        : "b-padded";
$class-l-padded        : "l-padded";
$class-lr-padded       : "lr-padded";
$class-tb-padded       : "tb-padded";
$class-t-margin        : "t-margin";
$class-r-margin        : "r-margin";
$class-b-margin        : "b-margin";
$class-l-margin        : "l-margin";
$class-appearance-none : "appearance-none";
$class-text-input      : "text-input";
$class-select          : "select";
$class-button          : "button";
$class-inset-shadow    : "inset-shadow";
$class-shadow          : "shadow";
$class-button-shadow   : "button-shadow";